html,
body,
#root,
#root > div {
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  line-height: normal;
  overflow: hidden; /* 스크롤 막기 */
}

#body {
  /*여기는 바디*/
  min-height: 100vh; /* 최소 너비가 100vh이고 만약애 자식이 커지면 부모도 같이 커짐 */
  width: 100%; /*모바일의 경우 width: 100%로 설정된다. */
  margin: 0 auto;
  cursor: url("./Images/pointer.png"), auto;
  font-family: "Ramche";
}
.element,
a,
button {
  cursor: url("./Images/pointer.png"), auto;
}
